In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
dataset = pd.read_csv("../fish_participant.csv")

In [3]:
print(dataset)

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
1     Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
2     Roach   160.0     20.5     22.5     25.3   7.0334  3.8203
3    Parkki    60.0     14.3     15.5     17.4   6.5772  2.3142
4     Bream   700.0     30.4     33.0     38.3  14.8604  5.2854
..      ...     ...      ...      ...      ...      ...     ...
106   Perch   197.0     23.5     25.6     27.0   6.5610  4.2390
107  Parkki   140.0     19.0     20.7     23.2   8.5376  3.2944
108   Roach   110.0     19.1     20.8     23.1   6.1677  3.3957
109   Perch   685.0     34.0     36.5     39.0  10.8810  6.8640
110   Perch   300.0     26.9     28.7     30.1   7.5852  4.6354

[111 rows x 7 columns]

In [4]:
# Check if there are null values
print (dataset[dataset.isnull().any(axis=1)])

Empty DataFrame
Columns: [Species, Weight, Length1, Length2, Length3, Height, Width]
Index: []

In [5]:
# Check the type of fish
dataset.Species.unique()

array(['Bream', 'Perch', 'Roach', 'Parkki', 'Smelt', 'Whitefish', 'Pike'],
      dtype=object)

In [6]:
dataset = dataset.assign(Girth=dataset["Length1"] * dataset["Width"])

    
# Organize columns

dataset = dataset[["Species", "Length1", "Length2", "Length3", "Height", "Width", "Girth", "Weight" ]]
dataset

    Species  Length1  Length2  Length3   Height   Width      Girth  Weight
0     Bream     26.5     29.0     34.0  12.4440  5.1340  136.05100   430.0
1     Perch     20.0     22.0     23.5   5.5225  3.9950   79.90000   110.0
2     Roach     20.5     22.5     25.3   7.0334  3.8203   78.31615   160.0
3    Parkki     14.3     15.5     17.4   6.5772  2.3142   33.09306    60.0
4     Bream     30.4     33.0     38.3  14.8604  5.2854  160.67616   700.0
..      ...      ...      ...      ...      ...     ...        ...     ...
106   Perch     23.5     25.6     27.0   6.5610  4.2390   99.61650   197.0
107  Parkki     19.0     20.7     23.2   8.5376  3.2944   62.59360   140.0
108   Roach     19.1     20.8     23.1   6.1677  3.3957   64.85787   110.0
109   Perch     34.0     36.5     39.0  10.8810  6.8640  233.37600   685.0
110   Perch     26.9     28.7     30.1   7.5852  4.6354  124.69226   300.0

[111 rows x 8 columns]